<% include ../partials/header %>



<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1><i class="fa fa-cutlery"></i> Welcome Hangry Hacker!</h1>
            <p>View or share your favorite hunger fighting hacks!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/hangryhacks/new">Add New Hangry Hack</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% hangryhacks.forEach(function(hangryhack){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= hangryhack.image %>">
                    <div class="caption">
                        <h4><%= hangryhack.name %></h4>
                    </div>
                    <p>
                        <a href="/hangryhacks/<%= hangryhack._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>